= simple_form_for @question do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: 'Title', label: false
    = f.input :post_text, label: false

  %div{ class: 'uploader' }
    %div click here or drag here your images
    = f.input :images_files, as: :attachment, direct: true, presigned: true, multiple: true

  %output{ class: 'image-list' }

  %div{ class: 'preview' }

  .form-actions
    = f.button :submit

= render 'modules/photoswipe'