-content_for :page_title, "#{@question.name} - Stack Underflow"

= render 'top_bar'
%div{ id: 'questions-show', class: 'container', 'data-params-id' => "#{params[:id]}" }
  = render 'header'

  %div{ id: 'question_name' }= @question.name
  %div{ class: 'vote' }
    %span{ class: 'upvote' } ▲
    %div{ class: 'vote-count' } 999
    %span{ class: 'downvote' } ▼

  %div{ class: 'preview' }
  %div{ id: 'question_post_text' }= @question.post_text

  - if @question.owner == current_user
    = link_to 'Edit', edit_question_path(@question), class: 'button'

= render 'modules/photoswipe'